{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="{% url 'truesaight:home' %}">
            <img src="{% static 'truesaight/images/truesaight-logo-1.png' %}" alt="Logo" height="40" class="me-2">
            <span>TRUES<span style="font-weight: bold; font-size: larger;">AI</span>GHT</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/RaffyAldiny/EfficientB0-GAT-GRU-in-Deepfake-Detection" target="_blank">
                        <i class="fa fa-github" style="font-size:24px"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
